*.log
configure
configure~
autom4te.cache/
.deps/*
.libs/*
*.lo
*.la
*.o
*Makefile.in
*Makefile
*.m4
build-aux/*
*.h.in*
config.h
*.status
*.pc
libtool
src/.deps/*
src/.libs/*
stamp-h1


.cache/*
compile_commands.json

